@section Style{

    }

    <!-- 最上方的 bar -->
    <div id="appVue">
        <center>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">{{orderInfo.pName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"><img :src=orderInfo.pImg></td>
                    </tr>
                    <tr>
                        <td colspan="2"> 價格 : {{orderInfo.pPrice}} </td>
                    </tr>
                    <tr>
                        <td colspan="2"> 購買數量 : 1 </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;"> 總金額 : {{orderInfo.pPrice}} </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><button @@click="confirmPayment()"> 確認付款</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="Container">
                <a id="paymentStatus">交易狀態 : 交易已授權，等待確認<a>
            </div>
        </center>
    </div>
    @section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.1/dist/umd/uuidv4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- Template Javascript -->


    <script>
        // confirm page
        var webApiAddress = "https://localhost:7139/api/J";
        var appVue = new Vue({
            el: "#appVue",
            data: {
                baseLoginPayUrl: 'https://localhost:7052/api/LinePay/',
                transactionId: "",
                orderId: "",
                orderInfo: JSON.parse(window.name),
            },
            mounted() {
                console.log(this.orderInfo)
                // 取出 query parameter 中的 transactionId & orderId
                const params = new Proxy(new URLSearchParams(window.location.search), {
                    get: (searchParams, prop) => searchParams.get(prop),
                });

                this.transactionId = params.transactionId;
                this.orderId = params.orderId;
            },
            methods: {
                confirmPayment() {
                    let _this = this
                    // 交易訂單假資料
                    let payment = {
                        amount: _this.orderInfo.pPrice,
                        currency: "TWD",
                    };
                    // 送出確認交易
                    $.post({
                        url: _this.baseLoginPayUrl + `Confirm?transactionId=${_this.transactionId}&orderId=${_this.orderId}`,
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify(payment),
                        success: (res) => {
                            $("#paymentStatus").text("交易狀態 : 成功");

                            console.log(res);
                            alert("付款成功, 等待 3 秒跳轉到訂單頁面")
                            axios.post(`${webApiAddress}/InsertBuyOrder`, _this.orderInfo);
                            let num = "";
                            for (let i = 3; i >= 1; i--) {
                                setTimeout(() => {
                                    num = i + ".";
                                    $("#paymentStatus").text(`交易狀態 : 成功  ${num}`);
                                }, (3 - i) * 1000);
                                for (let j = 1; j <= 2; j++) {
                                    setTimeout(() => {
                                        num += ".";
                                        $("#paymentStatus").text(`交易狀態 : 成功  ${num}`);
                                    }, ((3 - i) * 1000) + (j * (1000 / 3)));
                                }
                            }
                            $("#paymentStatus").text(`交易狀態 : 成功 `);
                            location.replace("https://localhost:7002/Member/Member_buyerorder");
                        },
                        error: (err) => {
                            console.log(err);
                        }
                    })
                },

            }
        })
    </script>


    }

