@{
    ViewData["Title"] = "coupon";
    ViewData["enTitle"] = "Ben";
}

@section Style{
    <link href="~/css/BEN.css" rel="stylesheet">
}
<div id="appVue">
    <partial name="_MemberBanner" />
    <div class="container-fluid">
        <div class="row">
            @*<partial name="_Membersidebar">*@
            <div class="PaymentInformation">
                <div class="orderTopWidth-2">
                    <div>
                        <h1>密碼修改</h1>
                        <div>
                            <label>信箱</label>
                            <input type="text" disabled="disabled" name="text" class="form-control" :value="PasswordmodificationDTOes.email">
                        </div>
                        <div class="addressgroup">
                            <label>舊密碼</label>
                            <input type="text" name="text" class="form-control" id="oldPassword" placeholder="請輸入舊密碼">
                        </div>
                        <div class="addressgroup">
                            <label>新密碼</label>
                            <input type="tel" name="tel" class="form-control" id="newPassword" placeholder="請輸入新密碼">
                        </div>
                        <div class="addressgroup">
                            <label>新密碼確認</label>
                            <input type="tel" name="tel" class="form-control" id="newPassword2" placeholder="新密碼確認">
                        </div>
                        <div class="addressgroup">
                            <a asp-area="" asp-controller="Member" asp-action="Member_personal">
                                <button type="button" class="btn btncolor">
                                    取消
                                </button>
                            </a>
                            <input type="submit" class="btn btncolor inputright" value="儲存" @@click="update(PasswordmodificationDTOes)">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <partial name="_FooterPartial" />
</div>

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        var webApiBaseAddress = "https://localhost:7139";
        var appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                mID: localStorage.getItem("GETmID"),
                PasswordmodificationDTOes: {},
                Filter: "",
                oldPassword: null,

            },
            mounted: function () {
                let _this = this;
                _this.getPasswordmodificationDTOes();
            },
            methods: {
                getPasswordmodificationDTOes: function () {
                    let _this = this;
                    axios.get(`${webApiBaseAddress}/api/B_PaymentInformation/Passwordmodification/${_this.mID}`).then(
                        response => {
                            _this.PasswordmodificationDTOes = response.data;
                            _this.oldPassword = _this.PasswordmodificationDTOes.password;
                        }
                    );
                },
                update: function (Passwordmodification) {
                    let _this = this;
                    var request = {};
                    var oldPassword = $("#oldPassword").val();
                    var newPassword = $("#newPassword").val();
                    var newPassword2 = $("#newPassword2").val();
                    if (_this.oldPassword == oldPassword) {
                        if (newPassword!= "")
                        {
                            if (newPassword == newPassword2) {
                                alert("2次輸入正確");
                            }
                            else {
                                alert("密碼兩次不正去");
                            }
                        }
                        else{
                            alert("密碼不能為空質");
                        }
                     
                    }
                    else {

                        alert("舊密碼輸入錯誤");
                    }
                    request.MemberId = Passwordmodification.memberId;
                    request.Shippingaddress = Passwordmodification.shippingaddress;
                    var ret = confirm("確定要修改嗎?");
                    if (ret == true) {
                        axios.put(`${webApiBaseAddress}/api/B_PaymentInformation/Passwordmodification/${_this.mID}`, request).then(
                            response => {
                                alert(response.data);
                                window.location = "/Member/Member_personal"
                            }
                        );
                    }
                },
            },
        });

    </script>
    }










