@{
	ViewData["Title"] = "coupon";
	ViewData["enTitle"] = "Ben";
}

@section Style{
	<link href="~/css/BEN.css" rel="stylesheet">
}
	<div id="appVue">
		<partial name="_MemberBanner" />
		<div class="container-fluid">
			<div class="row">
				<partial name="_Membersidebar">
					<div class="col-lg-7">
						<div class="orderTopWidth-2">
							<div>
								<h1>帳單</h1>
								<p>請提供你的帳單資訊</p>
								<div>
									<h4>
										信用卡
									</h4>
								</div>
								<div>
									<input type="text" name="text" class="form-control" placeholder="信用卡卡號" v-model="PaymentInformationDTOes.creditCard">
								</div>
								<div class="addressgroup-1">
									<div class="addressgroup-2">
										<input type="text" name="text" class="form-control" placeholder="到期日" v-model="PaymentInformationDTOes.creditCardDate">
									</div>
									<div>
										<input type="text" name="text" class="form-control" placeholder="信用卡檢查碼" v-model="PaymentInformationDTOes.creditCardCCV">
									</div>
								</div>
								<div class="addressgroup-1">
									<h4>
										帳單資訊
									</h4>
								</div>
								<div>
									<label>名字</label>
									<input type="text" disabled="disabled" name="text" class="form-control" :value="PaymentInformationDTOes.name">
								</div>

								<div class="addressgroup">
									<label>電話號碼</label>
									<input type="text" disabled="disabled" name="tel" class="form-control" :value="PaymentInformationDTOes.phone">
								</div>
								<div class="addressgroup">
									<label>地址</label>
									<input type="text" name="text" class="form-control" placeholder="請輸入地址" v-model="PaymentInformationDTOes.billingAddress">
								</div>

								<div class="addressgroup">
									<a asp-area="" asp-controller="Member" asp-action="SettingCreditcard">
										<button type="button" class="btn btncolor">
											取消
										</button>
									</a>
									<input type="submit" class="btn btncolor inputright" value="儲存" @@click="update(PaymentInformationDTOes)">
								</div>
							</div>

						</div>
					</div>
			</div>
		</div>
	<partial name="_FooterPartial" />
	</div>

	@section Scripts
	{
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		var webApiBaseAddress = "https://localhost:7139";
		var appVue = new Vue({
			el: "#appVue",
			name: "appVue",
			data: {
				mID: sessionStorage.getItem("mID"),
				PaymentInformationDTOes: {},
				Filter: "",

			},
			mounted: function () {
				let _this = this;
				_this.getPaymentInformationDTOes();

			},
			methods: {
				getPaymentInformationDTOes: function () {
					let _this = this;
					axios.get(`${webApiBaseAddress}/api/B_PaymentInformation/${_this.mID}`).then(
						response => {
							_this.PaymentInformationDTOes = response.data;

						}
					);
				},
				update: function (PaymentInformation) {
					let _this = this;
					var request = {};
					request.MemberId = PaymentInformation.memberId;
					request.BillingAddress = PaymentInformation.billingAddress;
					request.CreditCard = PaymentInformation.creditCard;
					request.CreditCardDate = PaymentInformation.creditCardDate;
					request.CreditCardCcv = PaymentInformation.creditCardCCV;
					var ret = confirm("確定要修改嗎?");
					if (ret == true) {
						axios.put(`${webApiBaseAddress}/api/B_PaymentInformation/${_this.mID}`, request).then(
							response => {
								alert(response.data);
								window.location = "/Member/SettingCreditcard"
							}
						);
					}
				},
			},
		});

	</script>

    }










